[submodule "style"]
	path = style
	url = https://github.com/kibi-network/style.git
[submodule "_layouts"]
	path = _layouts
	url = https://github.com/kibi-network/layouts.git
[submodule "Scripts/generateABNF"]
	path = Scripts/generateABNF
	url = https://github.com/kibi-network/generateABNF.git
